body {
  margin: 0;
}

h1 {
  font-size: 1.4rem;
}

nav {
  color: #eee;
  background-color: #333;
  padding: 0.1rem 1rem;
}

.app-container {
  background-color: #eee;
  max-width: 1100px;
  margin: auto;
  height: 100vh;
}

.page-container {
  padding: 1rem;
}

.input-box {
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}

.input-box > input,
.input-box > button {
  font-size: 1.5rem;
}

.input-box > input {
  width: 100%;
}

.input-box > button {
  cursor: pointer;
}

.todo-list-container {
  width: 100%;
  background-color: #555;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}
